.rightAsideBag{
    border: 1px solid gray;
    /* margin-left: 3%; */
    width: 400px;
    /* align-items: center; */
    /* padding-top: 20px; */
}
.free{
    /* border: 1px solid blue; */
    text-align: left;
    /* margin: 20px 10px ; */
    margin-top: 10%;
    margin-left: 5%;
    border-bottom: 1px solid gray;
    width: 90%;
    padding-bottom: 10px;
}
.discount{
    display: flex;
    /* margin: 10px 20px 0 10px ; */
    justify-content: space-between;
   
}
.divdiscount{
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
}
.discount1{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 90%;
    /* text-align: center; */
}
.total{
    display: flex;
    justify-content: space-between;
}
.one{
    font-family: 'Cormorant';
font-size: 22px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
margin-top: 20px;
}
.two{
    font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
margin-top: 20px;
}
.three{
    font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
margin-top: 20px;
}
.oneone{
    font-family: 'Cormorant';
font-size: 22px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
}
.threethree{
    font-family: 'Montserrat';
font-size: 16px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
}
@media only screen and (max-width: 1000px) {
    .rightAsideBag{
        width: 300px;
         /* margin-top: 10%; */
    }
   }
@media only screen and (max-width: 900px) {
  .rightAsideBag{
      width: 100%;
       /* margin: 5%; */
  }
 }