.Profile2-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.Profile2-footer{
padding: 0 10%;
}

.Profile2{
    width: 100%;
    margin-top: 3%;
    padding: 0 10%;
}

.Profile2-heading-nav{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.Profile2-heading-nav p{
    margin: 0;
    margin-right: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;      
    color: #000000;
    margin-bottom: 2%;

}

.Profile2-heading{
    display: flex;
    flex-direction: row;
}

.Profile2-heading{
    width: 100%;
    position: relative;
    align-items: flex-end;
}

.Profile2-heading-first {
    margin-bottom: -0.5%;
    width: auto;
    font-family: 'Cormorant';
    font-style: normal;
    font-size: 29px;
    color: #1B1B1B;
    text-align: left;
}

.Profile2-heading-first h1{
    margin: 0;
    font-weight: 500;
    line-height: 50px;
}

.Profile2-heading-line-container{
    width: 100%;
   
    position: relative;
    margin-top: 4%;
    
}


.Profile2-heading-line{
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 0.5px solid #000000;
    height: 0;
    background-color: #000000;
}
.Profile2-heading-logOut{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 75px;
    position: absolute;
    right: 0%;
    margin-bottom: 0.5%;
    bottom: 10%;
}

.Profile2-heading-logOut p {
    margin: 0;
    font-weight: bolder;
    margin-bottom: 2%;
    font-family: 'Montserrat';

}

.Profile2-profile-container{
    width: 60%;
    margin-bottom: 40%;
}

.Profile2-owner h1{
    text-align: left;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: #1B1B1B;
    margin-top: 8%;
    margin-bottom: 8%;
}

.Profile2-owner-info-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.owner-info{
    border: 1px solid black;
    width: 49%;
}

.owner-info p{
    margin: 2%;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #1B1B1B;


}



@media screen and (min-width: 320px) and (max-width: 370px) {

    .Profile2-owner h1 {
        font-size: 24px;
    }

    .Profile2-owner-info-container {
        flex-direction: column;
    }

    .owner-info{
        width: 100%;
        margin-bottom: 5%;
    }
    .Profile2-profile-container{
        width: 100%;
        /* margin-bottom: 60%; */
        height: 40vh;
    }
    .owner-info p {
        font-weight: 600;
    }

    .Profile2-heading-first{
        width: auto;
    }

    .Profile2-heading{
        position: static;
    }

   .Profile2-heading-logOut p{
       display: none;
   }

   .Profile2-heading-line-container {
    width: 87%;
    position: static;
    margin-top: 0%;
    border-bottom: 1px solid;
    padding-bottom: 0%;
    margin-bottom: 2%;
}

.Profile2-heading-line{
    display: none;
}

.Profile2-heading-nav{
    display: none;
}

.Profile2-container{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.Profile2-profile-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.Profile2-heading{
    width: 95%;
    margin-left: 5%;
}
}
@media screen and (min-width: 370px) and (max-width: 415px) {

    .Profile2-owner h1 {
        font-size: 24px;
    }

    .Profile2-owner-info-container {
        flex-direction: column;
    }

    .owner-info{
        width: 100%;
        margin-bottom: 5%;
    }
    .Profile2-profile-container{
        width: 100%;
        /* margin-bottom: 60%; */
        height: 70vh;
    }
    .owner-info p {
        font-weight: 600;
    }

    .Profile2-heading-logOut p{
        display: none;
    }
 
    .Profile2-heading-line-container {
     width: 87%;
     position: static;
     margin-top: 0%;
     border-bottom: 1px solid;
     padding-bottom: 0%;
     margin-bottom: 2%;
 }
 
 .Profile2-heading-line{
     display: none;
 }

 .Profile2-heading-first{
    width: auto;
}

.Profile2-heading{
    position: static;
}

.Profile2-heading-nav{
    display: none;
}

.Profile2-container{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.Profile2-profile-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.Profile2-heading{
    width: 95%;
    margin-left: 5%;
}
}
@media screen and (min-width: 415px) and (max-width: 768px) {

    .Profile2-owner h1 {
        font-size: 24px;
    }

    .Profile2-owner-info-container {
        flex-direction: column;
    }

    .owner-info{
        width: 100%;
        margin-bottom: 5%;
    }
    .Profile2-profile-container{
        width: 100%;
        /* margin-bottom: 60%; */
        height: 60vh;
    }
    .owner-info p {
        font-weight: 600;
    }

    .Profile2-heading-logOut p{
        display: none;
    }
 
    .Profile2-heading-line-container {
     width: 87%;
     position: static;
     margin-top: 0%;
     border-bottom: 1px solid;
     padding-bottom: 0%;
     /* margin-bottom: 2%; */
 }
 
 .Profile2-heading-line{
     display: none;
 }

 .Profile2-heading-first{
    width: auto;
}
.Profile2-heading{
    position: static;
}

.Profile2-heading-nav{
    display: none;
}

.Profile2-container{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.Profile2-profile-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.Profile2-heading{
    width: 95%;
    margin-left: 5%;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .owner-info p {
        font-size: 12px;
    }

    .Profile2-heading-logOut p{
        display: none;
    }
 
    .Profile2-heading-line-container {
     width: 87%;
     position: static;
     margin-top: 0%;
     border-bottom: 1px solid;
     padding-bottom: 0%;
     /* margin-bottom: 2%; */
 }
 
 .Profile2-heading-line{
     display: none;
 }

 .Profile2-heading-first{
    width: auto;
}
.Profile2-heading{
    position: static;
}
}


@media only screen and (min-width: 1900px) {
   .Profile2-heading{
    /* width: 103.5%; */
   }
    
}
    @media only screen and (max-width: 1024px) {
        .Profile2-footer{
            padding: 0%;
            }
        
    }
    
@media only screen and (max-width: 800px) {
    .Profile2-container{
        width: 80%;
        margin-left:10%;
        margin-right: 10%;
    
    
    }
    .Profile2 {
        width: 100%;
        margin-top: 3%;
        padding: 0 0 0 10%;
    }
}

@media only screen and (max-width: 768px) {
    .Profile2-container{
        width: 100%;
        margin-left:0%;
        margin-right: 0%;
    }
    .Profile2-heading{
        margin-top: 5%;
    }
    .Profile2{
       
        padding: 0 0 0 5%;
    }
    .Profile2-profile-container {
     
        margin-bottom: 10%;
    }
}
@media only screen and (max-width: 500px) {
  
    .Profile2{
       
        padding: 0%;
    }
   
}