.Profile1-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.Profile1-footer{
    padding: 0 10%;
    }

.Profile1{
    width: 100%;
}

.Profile1-heading-nav{
    display: flex;
    flex-direction: row;
    
}

.Profile1-signUp-form{
    margin-top: 5%;
}

.Profile1-heading-nav p{
    margin: 0;
    margin-right: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;      
    color: #000000;
    margin-bottom: 2%;

}

.Profile1-heading{
    display: flex;
    flex-direction: row;
}

.Profile1-heading{
    width: 100%;
    position: relative;
}

.Profile1-heading-first {
    width: auto;
    font-family: 'Cormorant';
    font-style: normal;
    font-size: 29px;
    color: #1B1B1B;
    text-align: left;
}

.Profile1-heading-first h1{
    margin: 0;
    font-weight: 500;
    line-height: 50px;
}

.Profile1-heading-line-container{
    width: 87%;
   
    position: relative;
    margin-top: 4%;
    
}


.Profile1-heading-line{
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 0.5px solid #000000;
    height: 0;
    background-color: #000000;
}

.Profile1-signUp-container{
    width: 60%;
    margin-bottom: 25%;
  
    /* border: 1px solid black; */
}

.Profile1-signUp-heading{
    display: flex;
    flex-direction: row;
    margin-top: 7%;
}

.Profile1-signUp-heading p{
    margin-right: 3px;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height, or 167% */


    /* black */

    color: #1B1B1B;
}

#Sign-up-p{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    color: #1B1B1B;
}

.SignUp-form-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
   
}

.row{
    display: flex;
    flex-direction: column;
    width: 49%;
    text-align: left;
    margin-top: 3%;
    
}

.row p{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */


    color: #1B1B1B;

}

.row input{
    border: 0.5px solid #766e6e;
    padding: 2% 1%;

}
.button-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    align-items: flex-end;
}

.button-row input{
    width: 49%;
    margin-top: 5%;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;
    /* identical to box height, or 79% */
    
    text-align: center;
    border: none;
    /* bg */
    background-color: #463227;
    color: #F0F0F0;
    transition: 0.6s;
    padding: 1% 2%;
}

.button-row input:hover{
    transition: 0.6s;
    color: #463227;
    background-color: #F0F0F0;

}

.button-row p{
    margin: 0;
    margin-right: 6%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */


    color: #424242;
    margin-top: 2%;

}

.button-row span{
    font-weight: 800;
    font-family: 'Montserrat';

}

@media screen and (min-width: 320px) and (max-width: 370px) {
    .Profile1-signUp-heading p{
        font-size: 18px;
    }

    #Sign-up-p{
        font-size: 18px;
    }

    .Profile1-signUp-container{
        width: 100%;
    }

    .Profile1-signUp-form{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }

    .SignUp-form-row{
        flex-direction: column;
        width: 100%;
    }

    .row{
        width: 100%;
        margin-bottom: 5%;
    }
    .button-row{
        width: 100%;
        align-items: center;
    }

    .button-row input{
        width: 100%;
        padding: 2% 1%;
    }

    .button-row p {
         margin-left: 0%;
         margin-top: 5%;
    }
    .Profile1-heading-nav{
        display: none;
    }
    
    .Profile1-container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
   
    .Profile1-heading{
        width: 95%;
        margin-left: 5%;
    }

}
@media screen and (min-width: 370px) and (max-width: 415px) {
    .Profile1-signUp-heading p{
        font-size: 18px;
    }

    #Sign-up-p{
        font-size: 18px;
    }

    .Profile1-signUp-container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .Profile1-signUp-form{
        width: 100%;

    }

    .SignUp-form-row{
        flex-direction: column;
        width: 100%;
    }

    .row{
        width: 100%;
        margin-bottom: 5%;
    }
    .button-row{
        width: 100%;
        align-items: center;
    }

    .button-row input{
        width: 100%;
        padding: 2% 1%;

    }

    .button-row p {
         margin-left: 0%;
         margin-top: 5%;
    }
    .Profile1-heading-nav{
        display: none;
    }
    
    .Profile1-container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
   
    
    .Profile1-heading{
        width: 95%;
        margin-left: 5%;
    }
}
@media screen and (min-width: 415px) and (max-width: 840px) {
    .Profile1-signUp-heading p{
        font-size: 18px;
    }

    #Sign-up-p{
        font-size: 18px;
    }

    .Profile1-signUp-container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .Profile1-signUp-form{
        width: 100%;

    }

    .SignUp-form-row{
        flex-direction: column;
        width: 100%;
    }

    .row{
        width: 100%;
        margin-bottom: 5%;
    }
    .button-row{
        width: 100%;
        align-items: center;
    }

    .button-row input{
        width: 100%;
        padding: 2% 1%;

    }

    .button-row p {
         margin-left: 0%;
         margin-top: 5%;
    }
    .Profile1-heading-nav{
        display: none;
    }
    
    .Profile1-container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .Profile1-profile-container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    
    }
    
    .Profile1-heading{
        width: 95%;
        margin-left: 5%;
    }
}
@media only screen and  (max-width: 1024px) {
    .Profile1-footer{
        padding: 0;
    }
}
@media only screen and  (max-width: 840px) {
    .Profile1{
        padding: 0 10%;
    }
    .Profile1-signUp-container{
      padding: 0 5%;
    }
}
@media only screen and  (max-width: 768px) {
    .Profile1-container .Profile1 .Profile2-heading-container .Profile2-heading{
        width: 100%;
        margin-left: 0;
    }
    .Profile1 {
        padding: 0 0 0 10%;
    }
}
@media only screen and  (max-width: 500px) {
    .Profile1{
        padding: 0 0 0 5%;
    }
    .Profile1-signUp-container{
        padding: 0%;
      }
}
@media only screen and  (max-width: 370px) {
    .Profile1-signUp-heading{
        margin-left: 5%;
    }
}