.borderImg {
    height: 550px;
    position: relative;
}
.element{
    display: none;
}
.borderImg:hover{
     box-shadow: 4px 5px 49px -3px rgba(179, 174, 174, 0.82);
}
.borderImg:hover >.element{
       display: block;
}
.rightvector ,.leftvector{
    display: none;
}

.borderImg:hover .rightvector{
    display: inline-block;
}

.borderImg:hover .leftvector{
    display: inline-block;
}

.money {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.uptext {
    display: flex;
    font-family: 'Cormorant';
    font-size: 22px;
    font-weight: 700;
}

.element {
    position: absolute;
    top: 5%;
    left: 10%;

    width: 80%;
    height: 10vh;
}

.heart {
    position: absolute;
    right: 0;
}

.money {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
}

.leftvector,
.rightvector {
    margin-top: 70%;
    position: absolute;
}

.rightvector {
    transform: translateX(-20px);
}

.activeimg2 {
    width: 25%;
    height: 300px;
}

.activeshoe2 {

    width: 80%;
}

@media only screen and (max-width: 2000px) {

    .leftvector1 {
        margin-top: 40%;

    }

    #shoesmiddle {
        margin-top: -10%;

    }

    .rightvector1 {
        margin-top: 40%;

    }

    #idRandom {
        height: 400px;
    }
}

@media only screen and (max-width: 1500px) {

    .leftvector1 {
        margin-top: 60%;

    }

    #shoesmiddle {
        margin-top: 5%;

    }

    .rightvector1 {
        margin-top: 60%;

    }

    #idRandom {
        height: 400px;
    }
}

@media only screen and (max-width: 1400px) {

#shoesmiddle {
        width: 60%;
    }
    .leftvector1,
    .rightvector1 {
        margin-top: 45%;
    }
    
    #idRandom {
        height: 300px;
    }
}
@media only screen and (max-width: 1360px) {
.leftvector1{
    left: 6%;
}
   
    
    .rightvector1 {
        right: 5%;
    }
    
  
}

@media only screen and (max-width: 1200px) {
    .borderImg {
        height: 300px;

    }
    .borderImg:hover .next{
        margin-top: 18%;
    }
    .borderImg:hover .prev{
        margin-top: 18%;
    }
    .leftvector,
    .rightvector{
        margin-top: 60%;
    }
}

@media only screen and (max-width: 1125px) {

  .shoesmiddle{
      margin-top: 20%;
     
  }
  }
@media only screen and (max-width: 820px) {

    .element{
        display: block;
    }
  .rightvector ,.leftvector{
      display: block;
  }
    .borderImg {
        box-shadow: none;
        width: 100%;
    }
    .borderImg:hover{
        box-shadow: none;
    }
    .element{
        width: 63%;
        left:20% ;
    }
    .leftvector {
        top: -70%;
        left: 20%;
    }

    .rightvector {
        top: -70%;
        right: 20%;
    }

    .heart {
        width: 5%;
    }

    .bottom {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 670px) {
    .leftvector {
        top: -60%;

    }

    .rightvector {
        top: -60%;

    }
}

@media only screen and (max-width: 570px) {
    .bottom {
        margin-top: 20px;
    }
    .leftvector {
        top: -50%;

    }

    .rightvector {
        top: -50%;

    }
}

@media only screen and (max-width: 500px) {
    .leftvector {
        top: -40%;

    }

    .rightvector {
        top: -40%;

    }

    .borderimgdist {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 400px) {
    .leftvector {
        top: -10%;

    }
    .shoe2{
        margin-top:20%;
    }
    .rightvector {
        top: -10%;
        right: 15%;
    }

    .heart {
        width: 7%;
    }
}

@media only screen and (max-width: 250px) {
    .borderimgdist {
        margin-top: 20%;
    }

    .leftvector {
        top: -5%;

    }

    .rightvector {
        top: -5%;
        right: 10%;
    }
}