.header {
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header_ul_one {
      
    display: flex;
    list-style: none;
    align-items: center;
  
  }
  /* .insta{
  margin-left: -15px;
  } */
  .header_ul_one li,
  .header_ul_two li {
    margin-right: 30px;
   
  }

  .header_ul_one{
    width: 30%;
  }

  #white li{
    color: white;
    
  }
  .shopbag{
    margin-right: 0;
}
  #white a{
    text-decoration: none;
    
  }
  
  .header_ul_two {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .text {
    font-size: 18px;
    color: #FFFAF8;
    font-weight: 500;
    line-height: 25px;
    margin-left: 30;
  
  }

  /* SEARCH */
.search{
  display: flex;
  flex-direction: row;
  margin-right: -30px;
}
.searchInput{
    background-color: transparent;
    border: #FFFAF8 0.5px solid;
    margin-right: 15px;
    
    display: flex;
    flex-direction: column;
    font-size: 17px;
    width: 100%;
    opacity: 1;
}

.fileteredShoes-cont{
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: left;

}

.fileteredShoes-cont p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 139% */
  
  
  /* bg2 */
 
  color: #FFFAF8;
}

.elebele{
  margin-right: 10px;
  width: 100%;
  position: relative;
}

.input-lupa{
  position: absolute;
    top: 20%;
    right: 4%;
}


.elebele input{
  padding: 1% 2%;
 
}

.elebele input::placeholder{
  color: #E2E2E2;
  font-family: 'Montserrat';
  font-weight: 400;
}
.closeSearch{
  display: none;
}

.active-header{
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.active-search{
  display: flex;
  width: 100%;
  margin-right: 2%;
}

.deactive-search{
  display: none;
}

.deactive-header{
  display: none;
}

.active-width{
  width: 40%;
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 30px;
}
  @media only screen and (max-width: 950px) {
    .header {
      padding: 10% 5%;
    }
   
  }
  @media only screen and (max-width: 900px) {
    .header {
      padding: 10% 5%;
    }
  
   
  }
  @media only screen and (max-width: 850px) {
    .header {
      padding: 10% 1%;
    }
    .shopbag{
      margin-right: 0 !important;
    
    }
  }
  @media only screen and (max-width: 800px) {
    .header_ul_two li{
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 500px) {
    .header {
      padding: 10% 1% ;
    }
  
  }
  @media only screen and (max-width: 450px) {
    .header {
      padding: 10% 3% ;
    }
    .header_ul_two li{
      margin-right: 0;
    }
    .sizeImg{
      width: 40%;
    }
  }
  @media only screen and (max-width: 300px) {
    .wtdh{
      width: 15%;
    }
  }