
.header {
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header_ul_one {
      
    display: flex;
    list-style: none;
    align-items: center;
    /* margin-bottom: 20%; */
  
  }

  .ul-one-one{
    display: flex;
    flex-direction: row;
    width: 30%;
  }

  .ul-one-two{
    display: flex;
    flex-direction: row;
    width: 60%;
   

  }

  .ul-one-two li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
  /* .insta{
  margin-left: -15px;
  } */

 
  .header_ul_one li,
  .header_ul_two li {
    margin-right: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

   
  }

  .header_ul_one{
    width: 30%;
    justify-content: space-between;
  }

  #white li{
    color: white;
    
  }
  .shopbag{
    margin-right: 0;
}
  #white a{
    text-decoration: none;
    
  }
  
  .header_ul_two {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 2%;
  }
  
  .text {
    font-size: 18px;
    color: #FFFAF8;
    font-weight: 500;
    line-height: 25px;
    margin-left: 30;
  
  }

  /* SEARCH */
.search{
  
}
.elebele input{
  color: #E2E2E2;
  outline: none;
}
.searchInput{
    background-color: transparent;
    border: #FFFAF8 0.5px solid;
    /* margin-right: 15px; */
    
    display: flex;
    flex-direction: column;
    font-size: 17px;
    width: 100%;
    opacity: 1;

    animation-name: example;
    animation-duration: 0.6s;
    float: right;
    /* transform-origin:right left; */
    /* transform: scale(100, 100); */
    
   
}

@keyframes example {
  0%   {  width: 80px;}
  100% { width: 100%;}
}

#fileteredShoes-cont{
  
  flex-direction: column;
  position: absolute;
  text-align: left;
  width: 100%;
  height: 30vh;
  background-color: #fff;
  padding-top: 2%;
  overflow-y: scroll;
  top: 100%;

}

.filetered{
  display: block;
}

.unfiltered{
  display: none;
}



#fileteredShoes-cont p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: black;
  padding: 1% 2%;
  /* identical to box height, or 139% */
  
  
  /* bg2 */
 
 
}

.elebele{
  margin-right: 10px;
  width: 100%;
  position: relative;
}

.input-lupa{
  position: absolute;
    top: 20%;
    right: 4%;
}


.elebele input{
  padding: 1% 2%;
 
}

.elebele input::placeholder{
  color: #E2E2E2;
  font-family: 'Montserrat';
  font-weight: 400;
}
.closeSearch{
  display: none;
}

.active-header{
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.active-search{
  display: flex;
  flex-direction: row;
  margin-right: -30px;
  
  width: 100%;
  margin-right: 2%;
  transition: 3s;
}

.deactive-search{
  display: none;
  width: 0;
  transition: 3s;
}

.deactive-header{
  display: none;
}

.active-width{
  width: 40%;
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 30px;
}

/* HAMBURGER */
.hamburger-general{
  position: fixed;
  top: 0;
}
.active-ham{
  z-index: 9;
  display: block;
  width: 100%;
  top: 0;
  height: 100%;
  animation-name: open;
  animation-duration: 0.6s;
  float: left;
  transform: translate(0px,0px);
  position: absolute;
}

/* @keyframes open {
  0%   {  transform: translate(0px,-106px);}
  100% { transform: translate(-300px,-106px);}
} */




.deactive-ham{
  display: none;
  width: 0;
  
  
}

.hamburger{
  z-index: 999;
  margin-top: 2%;
}

@keyframes open {
  0%   {  width: 80px;}
  100% { width: 100%;}
}
  /* @media only screen and (max-width: 950px) {
    .header {
      padding: 10% 5%;
    }
   
  }
  @media only screen and (max-width: 900px) {
    .header {
      padding: 10% 5%;
    }
  
   
  }
  @media only screen and (max-width: 850px) {
    .header {
      padding: 10% 1%;
    }
    .shopbag{
      margin-right: 0 !important;
    
    }
  }
  @media only screen and (max-width: 800px) {
    .header_ul_two li{
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 500px) {
    .header {
      padding: 10% 1% ;
    }
  
  }
  @media only screen and (max-width: 450px) {
    .header {
      padding: 10% 3% ;
    }
    .header_ul_two li{
      margin-right: 0;
    }
    .sizeImg{
      width: 40%;
    }
  }
  @media only screen and (max-width: 300px) {
    .wtdh{
      width: 15%;
    }
  } */


  @media screen and (min-width: 320px) and (max-width: 370px) {
    .header {
      padding: 10% 4%;
    }
  
    .sizeImg{
      width: 50%;
      padding-top: 2%;
    }
  }
  @media screen and (min-width: 370px) and (max-width: 415px) {
    .header {
      padding: 10% 4%;
    }
  
    .sizeImg{
      width: 50%;
      padding-top: 2%;
    }
  }
  @media screen and (min-width: 415px) and (max-width: 768px) {
    .header {
      padding: 5% 4%;
    }
  
    .sizeImg{
      width: 35%;
      padding-top: 2%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
      padding: 5% 4%;
    }
  
    .sizeImg{
      width: 35%;
      padding-top: 2%;
    }
  }