.deliveryDiv{
    padding: 3% 10%;
}
.inputSide1{
    width: 80%; 
}
.inputSide{  
    /* border :1px solid gray; */
    width: 100%;
    margin-top: 20px;
}
.mesafe{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.inputSide11{
    /* border :1px solid gray; */
    width: 100%;
    margin-top: 20px;
}
.email{
    width: 80%;
}
.email6{
    width: 100%;
}
.email6 input{
    width: 100%;
    
    padding: 1% 2%;
    font-size: 17px;
    font-family: 'Montserrat';

}
.contact11{
    text-align: left;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Cormorant';
font-size: 30px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0em;
}
.acc{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.acc1{
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
}.lastEdit{
    width: 98% !important;
    padding: 2% 2% !important;
}
.email input {
    width: 100%;
    padding: 1% 2%;
    outline: none;
    border: 1px solid gray;
    font-size: 17px;
    font-family: 'Montserrat';
}

.email1 input {
    width: 100%;
    
       padding: 1% 2%;
    font-size: 17px;
    font-family: 'Montserrat';
    outline: none;
    border: 1px solid red;
}
.add,.add2{
    font-family: 'Montserrat';
font-size: 17px;
font-family: 'Montserrat';
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
}

.add22{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}
.add{
    padding-left: 2%;
}
.add1{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    margin-left: 5px;
}

.contact1{
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Cormorant';
font-size: 30px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0em;
margin-top: 90px;
}
.nameandsur{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.name  ,.surname{
    width: 49%;
}
.name input {
    width: 100%;
    
       padding: 2% 2%;
    font-size: 17px;
    font-family: 'Montserrat';
    outline: none;
}
.surname input{
    width: 100%;
    
       padding: 2% 2%;
    font-size: 17px;
    font-family: 'Montserrat';
    outline: none;
}
.same{
    text-align: left;
    margin-left: 10px;
    line-height: 25px;
}
.addred{
    font-family: 'Montserrat';
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: right;
color: red;
}
.checkbox{
    text-align: left;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.checkbox label{
    margin-left: 10px;
}
.chchck{
  font-size: 80px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

.flexDelivery{
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
    width: 100%;
}
.leftDeliver{
    width: 70%;
  
}

.padRight{
    width: 30%;
    margin-top: 14%;
}
.elave{
    width: 50%;
    margin-top: 5%;
}
.emailPass{
    display: flex;
    align-items:center ;
    /* justify-content: center; */
    width: 100%;
}
.sameEmail{
    width: 80%;
}

.same{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

.order{
    font-weight: 700;
    line-height: 45px;
}
.email{
    width: 100%;
}
.differenPass{
  
    width: 39%;
    margin-right: 1%;
}
.differenAdres input{
    border: 1px solid gray;
}

.witdhButton{
    width: 55%;
}

.rightAsideBag{
    width: 100%;
}
@media only screen and (max-width: 2000px) {
  .elave{
      margin-top: 3.2%;
  }
  
 }
 @media only screen and (max-width: 1800px) {
    .elave{
        margin-top: 4%;
    }
    
   } 
   @media only screen and (max-width: 1500px) {
    .elave{
        margin-top: 5%;
    }
    
   }
   @media only screen and (max-width: 1300px) {
    .elave{
        margin-top: 5.4%;
    }
    
   } 
@media only screen and (max-width: 900px) {
   .deliveryDiv{
       padding: 0;
       
   }
   .leftDeliver{
       margin: 0 10%;
   }
   
   .flexDelivery{
    display: flex;
    flex-direction: column;
   }
   .add22{
       transform: translate(0px, 50px);
   }
}
@media only screen and (max-width: 1115px) {
.emailPass{
    display: block;
}
.differenPass{
    width:80%;
}
 }
@media only screen and (max-width: 400px) {
    .add{
        /* width: 60%; */
    }
    
    .add22{
        transform: translate(0px, 75px);
        width: 80%;
        /* margin-top: 30px; */
    }
 }