.delivery-heading-container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
}
.collection-heading-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.birbir{
    text-align: left;
   
}
.witdhButton{
    transition: 0.6s;
    background-color: #463227;
    color: #F0F0F0;
}
.witdhButton:hover{
    transition: 0.6s;
    color: #463227;
    background-color: #F0F0F0;
}
.spanbir{
    font-family: "Cormorant";
font-size: 70px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
border: 1px solid black;
margin-right: 5%;
padding: 0% 0.5%;
}
.delivery-header {
    margin-top: 2%;
}

.delivery-heading-nav {
    display: flex;
    flex-direction: row;


}

.delivery-heading-nav p {
    margin: 0;
    margin-right: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 2%;

}

.delivery-heading {
    display: flex;
    flex-direction: row;

}

.delivery-heading {
    width: 100%;
    /* position: relative; */
}

.delivery-heading-first {
    width: 22%;
    font-family: 'Cormorant';
    font-style: normal;
    font-size: 30px;
    color: #1B1B1B;
    text-align: left;
}

.delivery-heading-first h1 {
    margin: 0;
    font-weight: 500;
    line-height: 50px;
}

.delivery-heading-line {
    width: 80%;
    border: 0.5px solid #000000;
    height: 0;
    background-color: #000000;

    margin-top: 3.5%;

}



.deliveryDiv {
    padding: 3% 10%;
}

.inputSide1 {
    width: 80%;
}

.inputSide {
    /* border :1px solid gray; */
    width: 100%;
    margin-top: 20px;
}

.mesafe {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.inputSide11 {
    /* border :1px solid gray; */
    width: 100%;
    margin-top: 20px;
}

.email {
    width: 80%;
}

.email6 {
    width: 100%;
}

.email6 input {
    width: 100%;

    padding: 1% 2%;
    font-size: 17px;
    font-family: 'Montserrat';

}

.contact11 {
    text-align: left;
    margin-bottom: 40px;

    font-family: 'Cormorant';
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
}

.birbir {
    border: 1px solid black;

}

.acc {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.acc1 {
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
}

.lastEdit {
    width: 98% !important;
    padding: 2% 2% !important;
}

.email input {
    width: 100%;
    padding: 1% 2%;
    outline: none;
    border: 1px solid gray;
    font-size: 17px;
    font-family: 'Montserrat';
}

.email1 input {
    width: 100%;

    padding: 1% 2%;
    font-size: 17px;
    font-family: 'Montserrat';
    outline: none;
    border: 1px solid red;
}

.add,
.add2 {
    font-family: 'Montserrat';
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.add22 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}

.add {
    padding-left: 3%;
}

.add1 {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    margin-left: 5px;
}

.contact1 {
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Cormorant';
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    margin-top: 90px;
}

.nameandsur {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name,
.surname {
    width: 49%;
}

.name input {
    width: 100%;

    padding: 2% 2%;
    font-size: 17px;
    font-family: 'Montserrat';
    outline: none;
}

.surname input {
    width: 100%;

    padding: 2% 2%;
    font-size: 17px;
    font-family: 'Montserrat';
    outline: none;
}

.same {
    text-align: left;
    margin-left: 10px;
    line-height: 25px;
}

.addred {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: right;
    color: red;
}

.checkbox {
    text-align: left;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.checkbox label {
    margin-left: 10px;
}

.chchck {
    font-size: 80px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    transform: scale(1.5);
    padding: 10px;
}

.flexDelivery {
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
    width: 100%;
}

.leftDeliver {
    width: 70%;

}

.padRight {
    width: 30%;
    margin-top: 14%;
}

.elave {
    width: 50%;
    margin-top: 4%;
}

.emailPass {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
}

.sameEmail {
    width: 80%;
}

.same {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

.order {
    font-weight: 700;
    line-height: 45px;
}

.email {
    width: 100%;
}

.differenPass {

    width: 39%;
    margin-right: 1%;
}

.contact-header-copy-del {
    padding: 0% 10%;
}

.differenAdres input {
    border: 1px solid gray;
}

.witdhButton {
    width: 55%;
}

.rightAsideBag {
    width: 100%;
}

@media only screen and (max-width: 1900px) {
    .contact-header-copy-del .collection-heading .collection-line-cont {
        width: 87%;
    }

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 20%;
    }
}

@media only screen and (max-width: 1820px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 22%;
    }
}

@media only screen and (max-width: 1700px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 24%;
    }
}

@media only screen and (max-width: 1600px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 26%;
    }
}

@media only screen and (max-width: 1500px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 28%;
    }
}

@media only screen and (max-width: 1400px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 30%;
    }
}

@media only screen and (max-width: 1450px) {
    .elave {
        margin-top: 3%;
    }
}

@media only screen and (max-width: 1350px) {
    .elave {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 1325px) {
    .elave {
        margin-top: 4%;
    }

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 32%;
    }
}

@media only screen and (max-width: 1315px) {
    .elave {
        margin-top: 4%;
    }
}

@media only screen and (max-width: 1270px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 34%;
    }
}

@media only screen and (max-width: 1215px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 36%;
    }
}

@media only screen and (max-width: 1170px) {
    .deliveryDiv .flexDelivery .Order-summary-container {
        margin-top: 10%;
    }

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 40%;
    }
}

@media only screen and (max-width: 1100px) {
    .elave {
        margin-top: 3%;
    }

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 44%;
    }
}

@media only screen and (max-width: 1025px) {
    .spanbir{
        font-size: 42px;
    }
    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 28%;
    }
}

@media only screen and (max-width: 980px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 34%;
    }
}

@media only screen and (max-width: 850px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 38%;
    }
}

@media only screen and (max-width: 800px) {

    .add22 {
        display: none;
    }

    .ashagidaki {
        text-align: right;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: right;

    }

    .ashagidaki-login {
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;

    }
}

@media only screen and (max-width: 790px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 44%;
    }
}

@media only screen and (max-width: 770px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        /* width: 38%;/ */
    }
    .differenPass{
        margin-top: 5%;
    }
    .flexDiv{
        display: block;
    }

}

@media only screen and (max-width: 770px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 43%;
    }

}

@media only screen and (max-width: 768px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 30%;
   margin-bottom: -1%;
    }

    .contact-header-copy-del {
        padding: 0% 0%;
    }

}

@media only screen and (max-width: 720px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 32%;
    }

}

@media only screen and (max-width: 690px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 36%;
    }

}

@media only screen and (max-width: 625px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 40%;
    }

}

@media only screen and (max-width: 590px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 46%;
    }

}

@media only screen and (max-width: 530px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 52%;
    }

}

@media only screen and (max-width: 500px) {

    .contact-header-copy-del .collection-heading-cont {
        margin-left: 5%;
        width: 95%;
    }
    .birbir{
        height: 25px;
    }
    .spanbir{
        /* display: none; */
    }

}

@media only screen and (max-width: 470px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 58%;
    }

}

@media only screen and (max-width: 440px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 64%;
    }

}

@media only screen and (max-width: 410px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 70%;
    }

}

@media only screen and (max-width: 390px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 74%;
    }

}

@media only screen and (max-width: 380px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 80%;
    }

}

@media only screen and (max-width: 370px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 45%;
    }

}

@media only screen and (max-width: 360px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 48%;
    }

}

@media only screen and (max-width: 350px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 50%;
    }

}

@media only screen and (max-width: 330px) {

    .contact-header-copy-del .collection-heading .collection-heading-text {
        width: 54%;
    }

}

@media screen and (min-width: 320px) and (max-width: 370px) {

    .flexDelivery {
        flex-direction: column;
    }

    .leftDeliver {
        width: 100%;
    }

    .deliveryDiv {
        padding: 3% 5%;
    }

    .inputSide1 {
        width: 100%;
    }

    .sameEmail {
        width: 100%;
    }

    .add22 {
        display: none;
    }

    .nameandsur {
        flex-direction: column;
        margin-bottom: 0;
    }

    .name,
    .surname {
        width: 100%;
        margin-bottom: 20px;
    }

    .witdhButton {
        width: 100%;
    }

    .delivery-heading-container {
        width: 100%;
        padding-left: 5%;
        padding-right: 0%;
    }

    .delivery-heading-nav {
        display: none;
    }

    .delivery-heading-first {
        width: 52%;
        font-family: 'Cormorant';
        font-style: normal;
        font-size: 22px;
    }

    .delivery-heading {
        padding-top: 5%;
    }

    .delivery-heading-line {
        width: 80%;
        margin-top: 10.5%;
    }

    .contact11 {
        text-align: left;
        margin-bottom: 20px;
    }

    .contact1 {
        margin-top: 60px;
    }

    .checkbox {
        display: none;
    }

}

@media screen and (min-width: 370px) and (max-width: 415px) {
    .flexDelivery {
        flex-direction: column;
    }

    .leftDeliver {
        width: 100%;
    }

    .deliveryDiv {
        padding: 3% 5%;
    }

    .inputSide1 {
        width: 100%;
    }

    .sameEmail {
        width: 100%;
    }

    .add22 {
        display: none;
    }

    .nameandsur {
        flex-direction: column;
        margin-bottom: 0;
    }

    .name,
    .surname {
        width: 100%;
        margin-bottom: 20px;
    }

    .witdhButton {
        width: 100%;
    }

    .delivery-heading-container {
        width: 100%;
        padding-left: 5%;
        padding-right: 0%;
    }

    .delivery-heading-nav {
        display: none;
    }

    .delivery-heading-first {
        width: 52%;
        font-family: 'Cormorant';
        font-style: normal;
        font-size: 22px;
    }

    .delivery-heading {
        padding-top: 5%;
    }

    .delivery-heading-line {
        width: 80%;
        margin-top: 10.5%;
    }

    .contact11 {
        text-align: left;
        margin-bottom: 20px;
    }

    .contact1 {
        margin-top: 60px;
    }

    .checkbox {
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    .delivery-heading-container {
        width: 100%;
        padding-left: 10%;
        padding-right: 0%;
    }
.hihi{
    /* margin-top: 9%; */
}
.spanbir{
    font-size: 42px;
 
}

    .deliveryDiv {
        padding: 3% 10%;
    }
}

@media only screen and (max-width: 500px) {
    .delivery-heading-container {
        width: 100%;
        padding-left: 5%;
        padding-right: 0%;
    }

    .deliveryDiv {
        padding: 3% 5%;
    }



    .deliveryDiv .flexDelivery .Order-summary-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }


}
@media only screen and (max-width: 370px) {
    
.spanbir{
    font-size: 29px;
 
}

}
@media screen and (min-width: 415px) and (max-width: 768px) {
    .flexDelivery {
        flex-direction: column;
    }

    .leftDeliver {
        width: 100%;
    }



    .inputSide1 {
        width: 100%;
    }

    .sameEmail {
        width: 100%;
    }

    .add22 {
        display: none;
    }

    .nameandsur {
        flex-direction: column;
        margin-bottom: 0;
    }

    .name,
    .surname {
        width: 100%;
        margin-bottom: 20px;
    }

    .witdhButton {
        width: 100%;
    }



    .delivery-heading-nav {
        display: none;
    }

    .delivery-heading-first {
        width: 40%;
        font-family: 'Cormorant';
        font-style: normal;
        font-size: 36px;
    }

    .delivery-heading {
        padding-top: 5%;
    }

    .delivery-heading-line {
        width: 80%;
        margin-top: 7.5%;
    }

    .contact11 {
        text-align: left;
        margin-bottom: 20px;
    }

    .contact1 {
        margin-top: 60px;
    }

    .checkbox {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1034px) {
    .delivery-heading-first {
        width: 40%;
        font-family: 'Cormorant';
        font-style: normal;
        font-size: 36px;
    }

    .delivery-heading {
        padding-top: 5%;
    }

    .delivery-heading-line {
        width: 80%;
        margin-top: 7.5%;
    }
}
