.man {
    padding: 2% 10%;
    margin: 0 auto;
}

.grid {
    width: 760px;
    /* border: 1px solid red; */
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
 
}
.rightAside{
    width: 600px;
    margin-left: 5%;
}
.filteredImage {
 display: flex;
 margin-top: 60px;
 margin-bottom: 280px;
}
.positionDiv{
    width: 100%;
    border: 1px solid grey;
  
}
.positionDiv img{
   width: 101%;
   
}
.rightText{
    font-size: 18px;
    font-family: 'Montserrat';
    color: #463227;
   font-weight: 400;
   text-align: left;
   width: 80%;
}
.colorButton1 ,.colorButton2,.colorButton3,.colorButton4 ,.colorButton5 {
    border:1px solid black;
   padding: 2% 3%;
   margin-right: 2%;
   margin-top: 2%;
}
.colorButton1{
    background-color: #463227;
}
.colorButton2{
    background-color: black;
}
.colorButton4 {
    background-color: #000E88;
}
.colorButton5{
    background-color:  #0F4711;
    
}
.sizeDivText{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.colorFilter{
    text-align: left;
    margin-top: 30px;
}
.sizeButton{
    border:1px solid black;
    padding: 1% 2%;
    margin-right: 3%;
   background-color: transparent;
}
.sizeDiv ,.bag{
    text-align: left;
}
.sizeFilter{
    margin-top: 50px;
}
.borderText{
    border-bottom: 1px solid gray;
}
.minus {
    padding: 1% 2%;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
}
.bag{
    margin-top: 50px;
}
.qty{
    margin-bottom: 10px;
}
.minus ,.zero{
    margin-right: 20px;
}
.plus{
    padding: 1% 2.2%;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
}
.dollar{
    display: flex;
    width: 40%;
    /* justify-content: space-around; */

    margin-top: 50px;
}
.priceDollar{
    margin-right:40px ;
    font-size: 22px;
    font-family: 'Cormorant';
    font-weight: 600 ;
}
.priceDollar1{
    font-size: 22px;
    font-family: 'Cormorant';
    font-weight: 600;
}
.brownButton{
    background-color: #463227;
    padding: 1% 6%;
    outline: none;
    border: none;
    color: white;
    margin: 50px 50px 0 0;
    /* font-size: 30px; */
    font-family: 'Cormorant';
    font-weight: 600;
}
.whiteButton{
    padding: 0.8% 6%;
    color: #463227;
    background-color: transparent;
    border: 1px solid #463227 ;
}
.fsz{
 font-size: 20px;
}
