.winterCollection{
    background-color: #E5E5E5;
    height: 118vh;
    padding-top: 100px;
    
}
.winterText{
    font-size: 100px;
    font-weight: 600;
    line-height: 25px;
}
.winterTextDiv{
   /* height: 30vh; */
   display: flex;
   flex-direction: column;
   align-items: center;
}
.vitae{
    margin-top: 4%;
    /* text-align: center; */
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: #463227;

}
.slider{
    display: flex;
  justify-content: space-between;
  margin: 0 10%;
}