.headerBlack{
    display: flex;
   justify-content: space-between;
   padding: 2% 10%;
   font-family: 'Montserrat', sans-serif;
   background-color: #E5E5E5;
}
.headerBlack_ul_one{
    display: flex;
  list-style: none;
  align-items: center;
 
}
.headerBlack_ul_one li,
.headerBlack_ul_two li{
    margin-right: 30px;
}
.headerBlack_ul_two{
    display: flex;
  list-style: none;
  align-items: center;
}

.textBlack{
    font-size: 18px;
    color: black;
    font-weight: 500 ;
    line-height: 25px;
     margin-left: 30;
   
};

