.headerBlack{
    display: flex;
   justify-content: space-between;
   padding: 2% 10%;
   font-family: 'Montserrat', sans-serif;
   background-color: #FCFCFC;
}
.headerBlack_ul_one{
    display: flex;
  list-style: none;
  align-items: center;
 
}

.logoBlack{
    position: absolute;
    top: 6%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}
.keys{
  display: flex;
  justify-content: space-around;
}
li{
  list-style: none;
}
.distanc{
  margin-left: -15px
}
.headerBlack_ul_one li{
  margin-right: 28px;
  margin-top: -5%;
}
.headerBlack_ul_two li{
  margin-left: 30px;
}
.headerBlack_ul_two{
    display: flex;
  list-style: none;
  align-items: center;
}

.headerBlack_ul_two a{
  text-decoration: none;

}

.headerBlack_ul_one a{
  text-decoration: none;

}


.textBlack{
    font-size: 18px;
    color: black;
    font-weight: 500 ;
    line-height: 25px;
    text-decoration: none;
     margin-left: 30px;
   font-family: "Montserrat"
};

.textBlack a{
  text-decoration: none;
}


@media only screen and (max-width: 950px) {
  .headerBlack {
    padding:5% 5%;
  }
 
}
@media only screen and (max-width: 900px) {
  .headerBlack {
    padding: 5% 5%;
  }

 
}
@media only screen and (max-width: 850px) {
  .headerBlack {
    padding: 5% 5%;
  }
}
@media only screen and (max-width: 800px) {
  .headerBlack_ul_two li{
    margin-right: 0;
  }
}
@media only screen and (max-width: 500px) {
  .headerBlack {
    padding: 5% 5% ;
  }

}
@media only screen and (max-width: 450px) {
  .headerBlack {
    padding: 5% 5% ;
  }
  .headerBlack_ul_two li{
    margin-right: 0;
  }
  .sizeImgBlack{
    /* width: 40%; */
  }
}
@media only screen and (max-width: 300px) {
  .wtdhBlack{
    width: 15%;
  }
}


