* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
  
}

.disco-link{
    text-decoration: none;
}

.homePage{
    background-image: url('../../../Images/BackgImg.svg');
    height: 100vh;
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    scroll-behavior: smooth;
}
.middle{
    margin-top: 15%;
    align-items: center;
}
.middle_p{
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
   
}
.thunder{
    font-size: 100px;
    
    color: #FFFFFF;
    
}
.disco{
    font-size: 30px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 25px;
    margin-top: 2%;
    /* transition: transform 0.4s; */;

     margin-right: -3%;
}
.widthEncrease{
    display: flex;
}
.distance_box{
  cursor: pointer;
}

.anyW{
    display:flex;
 
 width: 300px;
   margin-top: 2.2%;
   margin-left: 55px;
}
.distance_box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease all;
    margin: 0 0 0 20%;
}
.distance_box:hover .divS{
        width: 25%;
        transition: 0.3s ease all;
}
.divS{
    border-bottom: 1px solid white;
     margin-bottom: 2%;
     margin-right: -1%;
    width: 20%;
    transition: 0.3s ease all;
}
@media only screen and (max-width:  1140px) {
    .distance_box{
        margin: 0 0 0 25%;
    }
    
  }
 @media only screen and (max-width:  1000px) {
    .middle{
        margin-top: 30%;
    }
    .distance_box{
        margin: 0 0 0 27%;
    }
  }
  @media only screen and (max-width:  900px) {
    .disco{
        display: none;
    }
    .middle_p{
        margin-bottom: 50px;
    }
    .distance_box{
        display: none;
    }

    .middle{
        margin-top: 20%;
    }
  }
 
  @media only screen and (max-width:  800px) {
    .homePage{
        background-image: url('../../../Images/smallScreen.png');
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    } 
      .thunder{
       
        margin: 0 auto;
        text-align: center;
    }
    .middle{
        margin-top: 40%;
    }
    
  }


  @media only screen and (max-width:  700px) {
    .middle {
        margin-top: 45%;
    }
}
  @media only screen and (max-width:  600px) {
   
   .thunder{
       font-size: 42px;
   }
   .middle{
    /* margin-top: 80%; */
}
  }
.upImg{
    /* position: absolute;
    bottom:-40%;
      transform: translateX(-50%); */
      margin-top: 30%;
}




