.GreenShop{
    width: 100%;
}

.GreenShop-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.GreenShop-part1{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    background-color: #001C08;
    ;
}

.GreenShop-part1-text{
    width: 70%;
    text-align: left;
    margin-left: 20%;
    margin-top: 10%;
    position: relative ;
   
    
}

.GreenShop-header h1{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 40px;
    color: #FCFCFC;
}

.GreenShop-para{
    margin-top: 7%;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FFFAF8;
    width: 92%;
}

.GreenShop-part1-button{
    align-items: left;
    width: 50%;
    
    left: 0;
    padding-top: 15%;
    padding-bottom: 15%;

}



.GreenShop-part1-button button{
    cursor: pointer;
    background-color: #001C08;
    border: 1px solid white;
    transition: 0.6s;
}
.GreenShop-part1-button button:hover p{
    
    /* border: 1px solid white; */
    /* background-color: white; */
    transition: 0.6s;
    color:#001C08 ;
}

.GreenShop-part1-button button:hover {
    
    border: 1px solid white;
    background-color: white;
    transition: 0.6s;
    color:#001C08 ;
}

/* .GreenShop-part1-button button p:hover{
    
    border: 1px solid white;
    background-color: white;
    transition: 0.6s;
    color:#001C08 ;
} */
.GreenShop-part1-button p{
    font-family: 'Cormorant';
    font-style: normal;
   
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    color: #FFFAF8;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 8px;
    margin-bottom: 10px;
    transition: 0.6s;

}
.GreenShop-part1-button p:hover{

    color: #001C08 ;
    transition: 0.6s;

}

.GreenShop-part2{
   
    width: 50%;
}

.GreenShop-part2 img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 370px) {

    .GreenShop-container{
        flex-direction: column-reverse;
    }

    .GreenShop-part1{
        width: 100%;
    }

    .GreenShop-part2{
        width: 100%;
        background-color: #001C08;
    }

    .GreenShop-part1-text{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .GreenShop-part1-text p{
        width: 100%;
    }

    .GreenShop-part1-text h1{
        font-size: 65px;
    }

    .GreenShop-part1-button{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .GreenShop-part1-button button{
        width: 100%;
    }

    .GreenShop-part1-button p{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width: 370px) and (max-width: 415px) {

    .GreenShop-container{
        flex-direction: column-reverse;
    }

    .GreenShop-part1{
        width: 100%;
    }

    .GreenShop-part2{
        width: 100%;
        background-color: #001C08;
    }

    .GreenShop-part1-text{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .GreenShop-part1-text p{
        width: 100%;
    }

    .GreenShop-part1-text h1{
        font-size: 65px;
    }

    .GreenShop-part1-button{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .GreenShop-part1-button button{
        width: 100%;
    }

    .GreenShop-part1-button p{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width: 415px) and (max-width: 768px) {

    .GreenShop-container{
        flex-direction: column-reverse;
    }

    .GreenShop-part1{
        width: 100%;
    }

    .GreenShop-part2{
        width: 100%;
        background-color: #001C08;
    }

    .GreenShop-part1-text{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .GreenShop-part1-text p{
        width: 100%;
    }

    .GreenShop-part1-text h1{
        font-size: 65px;
    }

    .GreenShop-part1-button{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .GreenShop-part1-button button{
        width: 100%;
    }

    .GreenShop-part1-button p{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
    .GreenShop-part1-button{
        width: 80%;
    }
}