.aboutBottom{
    padding: 5% 10% ;
}

.about-header{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 3%;
}

.about-footer{

    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    
}
.danilovimg{
    display: flex;
}
.danilov1img{
    margin-right: 2%;
}
.danilov1img , .danilov2img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    margin-top: 30px;
}
.ante{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height: 25px;
    color: #463227;
    margin-top: 40px;
    margin-bottom: 70px;
    width: 90%;
}
.odio{
    color: #463227;
font-size: 26px;
line-height: 25px;
font-weight: 500;
font-family: 'Montserrat';
text-align: left;
margin-bottom: 100px;
}
@media only screen and (max-width: 1700px) {
   .onee{
       margin-top: 5%;
   }
}
@media only screen and (max-width: 1600px) {
    .onee{
        margin-top: 3%;
    }
 }
@media only screen and (max-width: 1500px) {
    .onee{
        margin-top: 8%;
    }
 }
@media only screen and (max-width: 1306px) {
    .onee{
        margin-top: 46px;
    }
 }
 @media only screen and (max-width: 1206px) {
    .onee{
        margin-top: 13%;
    }
 }
 @media only screen and (max-width: 1120px) {
    .onee{
        margin-top: 17%;
    }
 }