.itself {
    width: 80%;

    margin-bottom: 10%;

}

@media screen and (max-width:600px) {
    .itself {
        /* margin-top: -20%; */
        margin-bottom: -5%;
    }
}

@media screen and (max-width:550px) {
    .itself {
        width: 90%;
    }
}

.swiper-about {}

@media screen and (max-width:410px) {
    .itself {
        margin-bottom: -30px;
        width: 95%;
    }
}


@media screen and (max-width:600px) {
    .swiper-about .swiper-about-mob-cont .swiper .swiper-wrapper .swiper-slide {
        transform: translateY(-100px);
    }

    .swiper-about .swiper-about-mob-cont .swiper .swiper-button-next,
    .swiper-about .swiper-about-mob-cont .swiper .swiper-button-prev {

        margin-top: -200px;
    }

    #olcu1 {
        margin-top: -89px;
    }
}

@media screen and (max-width:400px) {
    .swiper-about .swiper-about-mob-cont .swiper .swiper-wrapper .swiper-slide {
        transform: translateY(-100px);
        padding: 0 3%;
    }

    .swiper-about .swiper-about-mob-cont .swiper .swiper-button-next {

        margin-top: -200px;
    }

    .swiper-about .swiper-about-mob-cont .swiper .swiper-button-prev {
        margin-top: -190px;
    }

    .swiper-about .swiper-about-mob-cont .swiper {
        height: 476px;
    }

    .swiper-about .swiper-about-mob-cont .swiper .swiper-button-next {
        margin-left: -38px;
    }

    .swiper-about .swiper-about-mob-cont .swiper .swiper-button-prev {
        margin-left: 18px;
    }

    #olcu1 {
        margin-top: -174px;
        width: 65%;
        right: 68px;
    }
}
@media screen and (max-width:370px) {
    #olcu1 {
       
        right: 64px;
    }
   }
   @media screen and (max-width:350px) {
    #olcu1 {
        width: 60%;
        right: 64px;
    }
   }
/* @media screen and (min-width: 320px) and (max-width: 370px) {
    .swiper-about{
        min-width: 300px !important;
    }
}
@media screen and (min-width: 370px) and (max-width: 415px) {
    .swiper-slide{
        min-width: 300px !important;
    }
}
@media screen and (min-width: 415px) and (max-width: 768px) {
    .swiper-slide{
        min-width: 300px !important;
    }
} */
@media screen and (min-width: 768px) and (max-width: 1024px) {}