.ShopSlider-slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.ShopSlider-container{
    /* width: 80%; */
    /* margin-left:10%; */
    /* margin-right: 10%; */
    margin-top: 15%;
    /* margin-bottom: 15%; */
    width: 100%;
    /* display: none; */
    
}

.swiper-web-cont{
    display: block;
}
.ShopSlider-container-heading{
    margin-bottom: 5%;
}

.ShopSlider-container-heading h1{
    font-family: 'Cormorant ', serif;
    margin-bottom: -30px;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 25px;
    /* or 25% */
    
    text-align: center;
    
    /* black */
    
    color: #1B1B1B;
    
    text-shadow: 0px 2px 5px rgba(204, 204, 204, 0.7);
    
}
.ShopSlider-slider{
    width: 100%;
}
.ShopSlider-slider-part1{
    /* margin-top: -50px; */
    margin-bottom: 0%;
    margin-right: 10%;
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transition: 1s;
    opacity: 1;
    margin-top: 2%;
    transform: translateY(0);
}

.card-navigation-mobile-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    display: none;
    margin-top: 10%;
}

.vector-left{
    width: 24%;
}

.vector-right{
    width: 24%;
}
.line-vector {
    /* width: 49%; */
    /* position: fixed; */
  
   

}

.swiper-button-next::before{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;

}

.line-vector img{
     margin-bottom: 4%;
     width: 100%;
}

.line-vector{
    position: absolute;
    right: 48px;
    bottom: 247px;
}


/*//////////////Slider/////////////////*/

/* .ShopSlider-slider-itself{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.ShopSlider-slider-part1{
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}
.part2{
    transform: translateY(150%);
}
.part3{
    transform: translateY(150%);
}  */

 .ShopSlider-slider-itself ,.swiper-button-prev {
    position: static !important;
    margin-bottom: 50px;
    left: auto !important;
    right: 0% !important;
    top:15% !important;

  }

  .swiper-web-cont .swiper .swiper-button-prev::after{
      font-family: 'Times New Roman', Times, serif !important;
      background-image: url("../../../../Images/Vectorright.svg") !important;
      color: #000;
      width: 70px;
      height: 13px;
      content: "" !important;
      background-repeat: no-repeat;


  }

  .swiper-web-cont .swiper .swiper-button-next::after{
    font-family: 'Times New Roman', Times, serif !important; 
    background-image: url("../../../../Images/Vectorright.svg") !important;
    background-repeat: no-repeat;
    width: 70px;
    height: 13px;
    content: "" !important;
}
.ShopSlider-slider-itself ,.swiper-button-next {
    position: static !important;
    left: auto !important;
    right: 0% !important;
    bottom: -30% !important;
  }

  .ShopSlider-slider-itself ,.swiper-button-next::before{
      width: 20px;
      height: 20px;
  }
  .slider-main {
    position: relative;
  }
  .button-swiper-wrapper {
    position: absolute;
    top: 40%;
    left: 90%;
  }


  .swiper-button-prev {
    position: static !important;
    margin-bottom: 50px;
    left: auto !important;
    right: 0% !important;
    top:15% !important;

  }

  .swiper-button-prev::after{
      font-family: 'Times New Roman', Times, serif !important;
      background-image: url("../../../../Images/Vectorright.svg") !important;
      color: #000;
      width: 70px;
      height: 13px;
      content: "" !important;
      background-repeat: no-repeat;


  }

  .swiper-button-next::after{
    font-family: 'Times New Roman', Times, serif !important;
    background-image: url("../../../../Images/Vectorright.svg") !important;
    background-repeat: no-repeat;
    width: 70px;
    height: 13px;
    content: "" !important;
}
  .swiper-button-next {
    position: static !important;
    left: auto !important;
    right: 0% !important;
    bottom: -30% !important;
  }

  .swiper-button-next::before{
      width: 20px;
      height: 20px;
  }
  .slider-main {
    position: relative;
  }
  .button-swiper-wrapper {
    position: absolute;
    top: 40%;
    left: 90%;
  }
  .mob-line{
    position: absolute;
    /* transform: translateY(92%); */
    /* fill: rgb(31, 30, 30); */
    /* right: 50px; */
    z-index: 999;
    bottom: unset;
    width: 45%;
    transform: translateY(450px);
    right: 26%;
  }

.swiper {
    width: 100%;
    height: 620px;
    margin-bottom: 10%;
   
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* margin-top: -40px; */
   /* margin-top: -0px; */
   background: #FCFCFC;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  
  .swiper-button-next,
.swiper-button-prev {
   
    padding-right: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute !important;
    top: 50%;
    width: auto !important;
    height: auto !important;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: rotate(90deg); */
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.swiper-button-next{
    transform: rotate(90deg);

}



.swiper-web-cont .swiper .swiper-button-prev{
    transform: rotate(270deg);

}

.swiper-web-cont .swiper .swiper-button-next{
    transform: rotate(90deg);

}

.swiper-mob-cont{
    display: none;
}


.line-vector{
    position: absolute;
    transform: translateY(92%);
    fill: rgb(31, 30, 30);
    right: 50px;
    z-index: 999;
    bottom: unset;
}

@media screen and (min-width: 320px) and (max-width: 370px) {
    .swiper-button-prev::after{
        font-family: 'Times New Roman', Times, serif !important;
        background-image: url("../../../../assets/Vector (8).svg") !important;
    width: 20px;

    }

    .swiper-button-next::after{
        font-family: 'Times New Roman', Times, serif !important;
        background-image: url("../../../../assets/Vector (8).svg") !important;
    width: 20px;

    }


    .ShopSlider-container-heading h1{
        font-size: 42px;
        font-weight: 500;
    }

    .card-navigation-mobile-cont{
        display: flex;
    }

    .ShopSlider-slider {
        flex-direction: column;
    }

    .card-navigation-container{
        display: none;
    }

    .swiper-mob-cont{
        display: block;
    }

    .swiper-web-cont{
        display: none;
        position: relative;
    }

   /************* NAVIGATION ************/


   .swiper-button-prev {
    bottom: -12% !important;
    top: 80% !important;
   transform: rotate(180deg); 
   left: 0% !important;
    right: 100% !important;

    /* right: auto !important;
    top: inherit !important;
    bottom: -20% !important;
    left: 9% !important; */
}

.swiper-button-next {
    bottom: -10% !important;
    top: 74% !important;
   /* transform: rotate(180deg);  */
   right: 0% !important;
   left: 90% !important;
   transform: rotate(0deg);

}

.mob-line{
    width: 60%;
    transform: translateY(511px);
    right: 20%;
}

   
}
@media screen and (min-width: 370px) and (max-width: 415px) {
    .swiper-button-prev::after{
        font-family: 'Times New Roman', Times, serif !important;
        background-image: url("../../../../assets/Vector (8).svg") !important;
    width: 20px;

    }

    .swiper-button-next::after{
        font-family: 'Times New Roman', Times, serif !important;
        background-image: url("../../../../assets/Vector (8).svg") !important;
    width: 20px;

    }

    .ShopSlider-container-heading h1{
        font-size: 42px;
        font-weight: 500;
    }

    .card-navigation-mobile-cont{
        display: flex;
    }

    .ShopSlider-slider {
        flex-direction: column;
    }

    .card-navigation-container{
        display: none;
    }

    .swiper-mob-cont{
        display: block;
    }

    .swiper-web-cont{
        display: none;
    }

     /************* NAVIGATION ************/


     .swiper-button-prev {
        bottom: -12% !important;
        top: 80% !important;
       transform: rotate(180deg); 
       left: 0% !important;
        right: 100% !important;
    
        /* right: auto !important;
        top: inherit !important;
        bottom: -20% !important;
        left: 9% !important; */
    }
    
    .swiper-button-next {
        bottom: -10% !important;
        top: 74% !important;
       /* transform: rotate(180deg);  */
       right: 0% !important;
       left: 90% !important;
       transform: rotate(0deg);
    
    }
    
    .mob-line{
        width: 60%;
        transform: translateY(511px);
        right: 20%;
    }
    

}
@media screen and (min-width: 415px) and (max-width: 768px) {
    .swiper-button-prev::after{
        font-family: 'Times New Roman', Times, serif !important;
        background-image: url("../../../../assets/Vector (8).svg") !important;
    width: 20px;

    }

    .swiper-button-next::after{
        font-family: 'Times New Roman', Times, serif !important;
        background-image: url("../../../../assets/Vector (8).svg") !important;
    width: 20px;

    }

    .ShopSlider-container-heading h1{
        font-size: 42px;
        font-weight: 500;
    }

    .card-navigation-mobile-cont{
        display: flex;
    }

    .ShopSlider-slider {
        flex-direction: column;
    }

    .card-navigation-container{
        display: none;
    }

    .line-vector img{
        margin-bottom: 1%;
    }

    .swiper-mob-cont{
        display: block;
    }

    .swiper-web-cont{
        display: none;
    }

     /************* NAVIGATION ************/


   .swiper-button-prev {
    bottom: -12% !important;
    top: 80% !important;
   transform: rotate(180deg); 
   left: 10% !important;
    right: 100% !important;

    /* right: auto !important;
    top: inherit !important;
    bottom: -20% !important;
    left: 9% !important; */
}

.swiper-button-next {
    bottom: -10% !important;
    top: 74% !important;
   /* transform: rotate(180deg);  */
   right: 20% !important;
   left: 85% !important;
   transform: rotate(0deg);

}

.mob-line{
    width: 60%;
    transform: translateY(511px);
    right: 20%;
}



}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .swiper-button-prev::after{
        font-family: 'Times New Roman', Times, serif !important;
        background-image: url("../../../../assets/Vector (8).svg") !important;
    width: 20px;

    }

    .swiper-button-next::after{
        font-family: 'Times New Roman', Times, serif !important;
        background-image: url("../../../../assets/Vector (8).svg") !important;
    width: 20px;

    }
    .ShopSlider-container-heading h1{
        font-size: 42px;
        font-weight: 500;
    }

    .card-navigation-mobile-cont{
        display: flex;
    }

    .ShopSlider-slider {
        flex-direction: column;
    }

    .card-navigation-container{
        display: none;
    }

    .line-vector img{
        margin-bottom: 0%;
    }

    .swiper-mob-cont{
        display: block;
    }

    .swiper-web-cont{
        display: none;
    }

    /************* NAVIGATION ************/


    .swiper-button-prev {
        bottom: -14% !important;
        top: 80% !important;
       transform: rotate(180deg); 
       left: 10% !important;
       right: 80% !important;

        /* right: auto !important;
        top: inherit !important;
        bottom: -20% !important;
        left: 9% !important; */
    }

    .swiper-button-next {
        bottom: -10% !important;
        top: 75% !important;
       /* transform: rotate(180deg);  */
       right: 10% !important;
       left: 80% !important;
       transform: rotate(0deg);

    }

    .swiper{
        height: 500px;
    }
   .mob-line{
    transform: translateY(514px);
   }
}
@media screen and (max-width:400px){
.ShopSlider-container-heading{
    margin-bottom: 20%;
}  
  }