.shop-heading h1{
    font-family: 'Cormorant';
font-style: normal;
font-weight: 600;
font-size: 100px;
line-height: 25px;
/* or 25% */

text-align: center;
}

.shop-general{
    margin-top: 10%;
}


@media screen and (min-width: 320px) and (max-width: 370px) {

    .swiper-mob-cont{
        margin-top: 15%;
    }
    .shop1-slider{
        display: none;
    }
    .shop-general{
        margin-top: 40%;
    }

    .shopSlider-blackHeart {
      
       
        margin-top: 30%;
    }

    .shop-heading h1 {
        font-size: 55px;
    }
    

}
@media screen and (min-width: 370px) and (max-width: 415px) {
    .swiper-mob-cont{
        margin-top: 15%;
    }
    .shop1-slider{
        display: none;
    }
    .shop-general{
        margin-top: 40%;
    }

    .shopSlider-blackHeart {
      
       
        margin-top: 30%;
    }

    .shop-heading h1 {
        font-size: 55px;
    }
    
}
@media screen and (min-width: 415px) and (max-width: 768px) {
    .swiper-mob-cont{
        margin-top: 15%;
    }
    .shop1-slider{
        display: none;
    }
    .shop-general{
        margin-top: 40%;
    }

    .shopSlider-blackHeart {
      
       
        margin-top: 30%;
    }

    .shop-heading h1 {
        font-size: 55px;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .swiper-mob-cont{
        margin-top: 15%;
    }
    .shop1-slider{
        display: none;
    }

    .swiper-mob-cont{
        display: flex;
    }
    .shop-general{
        margin-top: 40%;
    }

    .shopSlider-blackHeart {
      
       
        margin-top: 30%;
    }

    .shop-heading h1 {
        font-size: 55px;
    }
    
}





