.footer{
    /* margin-top: 150px; */
    /* height: 100vh; */
   display: flex;
   flex-direction: column;
   justify-content: space-around;
    border-top: 1px solid black;
   /* padding: 0 5%; */
   /* position: absolute; */
   /* width: 90% */
   top:0;

   /* width:80%;
   margin-right: 10%;
   margin-left: 10%; */

   
}

.footerHome{
    display: flex;
   flex-direction: column;
   justify-content: space-around;
    border-top: 1px solid black;
    top:0;
    height: 100vh;

}

#footerWhite{
    background-image: url(../../assets/bg-pic1.png);
    background-size: cover;
}

.first-row1 ul li:first-child{
    /* color: red !important; */
    font-weight: 600 !important;
    font-size: 19px !important;
}

.first-row2 ul li:first-child{
    /* color: red !important; */
    font-weight: 600 !important;
    font-size: 19px !important;
}



ul li{
    cursor: pointer;
}

.foot{
    position: relative;
 
   
}

.footer-bg img{
    width: 100%;
    /* position: absolute; */
}
.footer ul li{
    list-style: none;
    
}

.just{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10%;
    margin-top: 2%;
    

}

#whitejust{
    margin-left: 10%;
}
.just ul li:first-child{
    font-size: 19px;
    font-weight: 500 !important;
    font-family: 'Montserrat';
    line-height: 25px;
    margin-bottom:15px;
}
#whitejust ul li{
    color: white;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: left;
}
.footer-contact{
    display: flex;
  
}
.insta{
    margin-right: 15px;
}

.lastPart{
    margin-bottom: -2%;

}

#white-lastPart{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
.lastPart ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: baseline;
    
}
#white-lastPart ul li{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */


    color: white;
}



.lastPart ul li:nth-child(2){
    font-family: 'Inter';
    
}
#white-lastPart a{
    text-decoration: none;
  
}

.footer-row1{
    display: flex;
    flex-direction: row;
    width: 48%;
    justify-content: space-between;

}

.footer-row1 ul{
    width: 49%;
}

.footer-row2 ul{
    width: 49%;
}

.footer-row1 ul li:hover{
    font-weight: 400;

}

.footer-row2 ul li:hover{
    font-weight: 400;

}

.footer-row2{
    width: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.claradix{
    font-family: 'Inter' !important;
    
}

.claradix-mobile{
    width: 100%;
}

.claradix-mobile p{
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-left: 4%;
}



.claradix-mobile-cont a{
    text-decoration: none;

}

.claradix-mobile-cont{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
   margin-bottom: 5%;
}


@media screen and (min-width: 320px) and (max-width: 370px) {
    .just{
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
    }

   

    .footer-row1{
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    .footer-row1 ul{
        padding: 0;
        width: 100%;
    }

    .footer-row2{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: initial;
    }

   
    .footer-row2 ul{
        padding: 0;
        width: 100%;
        margin-bottom: 10%;
    }

    .footer-contact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }

   
  

    .lastPart{
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;


    }

    .lastPart ul{
        padding: 0;
    }
    .lastPart ul li {
        font-size: 16px;
        font-weight: 600;
    }

    .claradix-mobile{
        width: 100%;
    }

    .claradix-mobile-cont{
        display: flex;
    }

    .footerHome{
        height:auto;

    }
    

}
@media screen and (min-width: 370px) and (max-width: 415px) {

    .claradix{
        display: none;
    }
    .just{
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
    }

    .footer-row1{
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    .footer-row1 ul{
        padding: 0;
        width: 100%;
    }

    .footer-row2{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: initial;
    }

   
    .footer-row2 ul{
        padding: 0;
        width: 100%;
        margin-bottom: 10%;
    }

    .footer-contact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
    .lastPart{
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;


    }

    .lastPart ul{
        padding: 0;
    }
    .lastPart ul li {
        font-size: 16px;
        font-weight: 600;
    }

    .claradix-mobile{
        width: 100%;
    }

    .claradix-mobile-cont{
        display: flex;
    }
    .footerHome{
        height:auto;

    }
}
@media screen and (min-width: 415px) and (max-width: 768px) {
    .claradix{
        display: none;
    }
    .just{
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
    }

    .footer-row1{
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    .footer-row1 ul{
        padding: 0;
        width: 100%;
    }

    .footer-row2{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: initial;
    }

   
    .footer-row2 ul{
        padding: 0;
        width: 100%;
        margin-bottom: 10%;
    }

    .footer-contact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 35%;
    }
    .lastPart{
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;


    }

    .lastPart ul{
        padding: 0;
    }
    .lastPart ul li {
        font-size: 20px;
        font-weight: 600;
    }

    .claradix-mobile{
        width: 100%;
    }

    .claradix-mobile-cont{
        display: flex;
    }
    .footerHome{
        height:auto;
    }

}
@media screen and (min-width: 768px) and (max-width: 1024px) {

    
    .just{
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
    }

    .footer-row1{
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    .footer-row1 ul{
        padding: 0;
        width: 100%;
    }

    .footer-row2{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: initial;
    }

   
    .footer-row2 ul{
        padding: 0;
        width: 100%;
        margin-bottom: 10%;
    }

    .footer-contact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25%;
    }
    .footerHome{
        height:auto;
    }
   

    

}