.header{
    display: flex;
   justify-content: space-between;
   padding: 2% 10%;
   font-family: 'Montserrat', sans-serif;
}
.header_ul_one{
    display: flex;
  list-style: none;
  align-items: center;
 
}
.header_ul_one li,
.header_ul_two li{
    margin-right: 30px;
}
.header_ul_two{
    display: flex;
  list-style: none;
  align-items: center;
}

.text{
    font-size: 18px;
    color: #FFFAF8;
    font-weight: 500 ;
    line-height: 25px;
     margin-left: 30;
   
};

