.footer{
    margin-top: 150px;
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
    border-top: 1px solid black;
 
}
.foot{
    padding: 0 5%;
   
}
.footer ul li{
    list-style: none;
}

.just{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.just ul li:first-child{
    font-size: 19px;
    font-weight: 500;
    font-family: 'Montserrat';
    line-height: 25px;
    margin-bottom:15px;
}
.just ul li{
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: left;
}
.contact{
    display: flex;
  
}
.insta{
    margin-right: 15px;
}
.lastPart ul{
    display: flex;
    justify-content: space-between;
 list-style: none;
}
.lastPart ul li{
    font-size: 18px;
    color: #414141;
    font-weight: 700;
    line-height: 25px;
}
.lastPart {
  
}